.profileDetails_container {
  justify-content: space-between;
}

.profileDetails {
  border: 1px solid #e5c3fa;
  border-radius: 1em;
}

.profileName {
  margin-bottom: 2em;
}

.profile_image {
  position: relative;
  top: -60px;
  width: 120px;
  height: 120px;
  border-radius: 50%;
  margin-left: 60px;
  margin-bottom: 1em;
}

.profileCover {
  border-radius: 1em 1em 0 0;
  height: 250px;
  background: rgb(63, 94, 251);
  background: linear-gradient(90deg, rgba(63, 94, 251, 1) 0%, rgba(252, 70, 107, 1) 100%);
}

.profileSetting_container {
  border: 1px solid #e5c3fa;
  border-radius: 1em;
  padding: 60px;
  margin-top: 2em;
}

.emailChange_input {
  border: 1px solid lightgray;
  border-radius: 5px;
  /* width: 70%; */
  padding: 5px;
}

.newName_input {
  border: 1px solid lightgray;
  border-radius: 5px;
  /* width: 34%; */
  padding: 5px;
}