.navbar_conatiner {
	box-shadow: rgba(99, 99, 99, 0.2) 0px 2px 8px 0px;
	box-shadow: none;
}

.mobile_menu {
	justify-content: space-between;
	align-items: center;
	padding: 10px;
}

.navbar_links {
	padding: 10px 2em;

}

.nav_link {
	text-decoration: none;
	color: gray;
}

.logo_link {
	text-decoration: none;
	color: black;
}

.active_link {
	background-color: #f5e7fd;
	padding: 10px;
	text-decoration: none;
	border-radius: 10px;
	color: #870ed4;
}