.navbar_conatiner {
  box-shadow: rgba(99, 99, 99, 0.2) 0px 2px 8px 0px;
  box-shadow: none;
}

.mobile_menu {
  justify-content: space-between;
  align-items: center;
  padding: 10px;
}

.navbar_links {
  padding: 10px 2em;

}

.nav_link {
  text-decoration: none;
  color: gray;
}

.logo_link {
  text-decoration: none;
  color: black;
}

.signin_btn {
  padding: 8px;
  text-decoration: none;
  border-radius: 10px;
  color: #870ed4;
  border: 1px solid #870ed4;
}

.login_btn {
  background: linear-gradient(180deg, #694ED6 0%, #C137A2 100%);
  border-radius: 10px;
  padding: 8px;
  color: #fff;
  text-decoration: none;
}

.active_link {
  background-color: #f5e7fd;
  padding: 10px;
  text-decoration: none;
  border-radius: 10px;
  color: #870ed4;
}

.user_profileImage {
  width: 30px;
  height: 30px;
  border-radius: 50%;
  background-color: #694ED6;
  color: #fff;
  text-align: center;

}

.navbar_profile {
  display: flex;
  width: 96px;
  justify-content: space-around;
  align-items: center;
}

.profileLink {
  display: flex;
  width: 80%;
  flex-direction: row;
  text-decoration: none;
  justify-content: space-around;
}