.footer_container {
	background-color: #880ed4;
	color: #ffff;
	padding: 6em;
}

.footer_right {
	display: flex;
	flex-direction: column;
	justify-content: center;
}

.footer_link {
	color: #ffff;
	text-decoration: none;
	font-size: 20px;
	font-weight: 600;
}

.footer_mid {
	padding: 0 3em;
}

.newsletter_input {
	background-color: #ffff;
	padding: 5px;
	border-radius: 10px;
}

@media (max-width:800px) {
	.footer_container {
		display: none;
	}
}